[defaults]
host_key_checking = False
collections_paths = ~/.ansible/collections
interpreter_python = /usr/local/bin/python3.12
ansible_python_interpreter = /usr/local/bin/python3.12
[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NTgwNzY0MTksImp0aSI6IjE2MTUxMWYxLWMxODAtNDJkNy05ZWE1LWY3ODA4YjdlNTQ4ZSIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1NTc5Mjg2NiIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiOWY4ZmU5ZWMtMGI0OS00OGIxLTk2YTQtZTBmZmRlMDA1Yzk1Iiwic2lkIjoiMmM1N2ZiN2YtZGFkZi00Mjc4LTk4ZTAtYjUyMTExNjQ4ZjAzIiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgYXBpLmlhbS5zZXJ2aWNlX2FjY291bnRzIHJvbGVzIHdlYi1vcmlnaW5zIGNsaWVudF90eXBlLnByZV9rYzI1IGFwaS5hc2tfcmVkX2hhdCBvZmZsaW5lX2FjY2VzcyJ9.OfsP6BqqYI0rnAy-hKYBgV2qqSVs0_iv_hmU4H5vuAUqMUAsApM75xETkK49jTdhi0MhH9wSUYLb201RF7zPoA

[galaxy_server.galaxy]
url=https://galaxy.ansible.com

